@use "../abstracts/variables";

body {
  font-family: $font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: $color-black;
  color: $color-white;
  font-weight: 300;
}

a {
  &:hover {
    color: $color-primary;
  }
}

svg {
  fill: $color-svg-default;
}

.main-container {
  display: flex;
  @media #{$break1} {
    padding: 22px;
  }

  @media #{$break0}, #{$break1} {
    flex-direction: column;
  }

  @media #{$break2}, #{$break3}, #{$break4} {
    padding: 0 32px;
  }
}

.main-content {
  width: 100%;

  @media #{$break0} {
    padding: 0 16px;
    margin-top: 24px;
  }
  @media #{$break1} {
    margin-top: 32px;
  }
  @media #{$break2}, #{$break3}, #{$break4} {
    margin-top: 64px;
  }
}
