.heading-primary {
  @media #{$break0} {
    font-size: 20px;
  }
  @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
    font-size: 32px;
  }
}

.heading-secondary {
  @media #{$break0} {
    font-size: 15px;
  }
  @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
    font-size: 24px;
  }
}

.heading-tertiary {
}
