.mb-24 {
    margin-bottom: 24px !important;
}

.mb-42 {

    @media #{$break2}, #{$break3}, #{$break4} {
        margin-bottom: 42px !important;
    }
}

.mx-xsm-auto {
    @media #{$break1} {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.text-xsm-center {
    @media #{$break1}, #{$break2} {
        text-align: center !important;
    }
}

.color-white {
    color: $color-white !important;
}