$break0: "(max-width: 425px)"; // Mobile
$break1: "(min-width: 426px) and (max-width: 768px)"; // S tablet
$break2: "(min-width: 769px) and (max-width: 1199px)"; // L tablet
$break3: "(min-width: 1200px) and (max-width: 1366px)"; // Big screen aka laptop
$break4: "(min-width: 1367px)"; // xl screen
