// Colors:
$color-primary: hsl(0, 97%, 63%);
$color-secondary: hsl(223, 36%, 14%);
$color-tertiary: hsl(223, 23%, 46%);
$color-black: hsl(223, 30%, 9%);
$color-secondary-opacity: hsl(223deg 36% 14% / 49%);
$color-secondary-opacity-2: hsl(0deg 0% 100% / 19%);
$color-white: #fff;
$color-svg-default: #5a698f;

// Fonts:
$font-primary: "Outfit", sans-serif;

// Sizes:
$sidebar-width: 96px;
$sidebar-width-mobile: 719px;
$sidebar-space-left: 32px;
