// Colors:
$color-primary: hsl(0, 97%, 63%);
$color-secondary: hsl(223, 36%, 14%);
$color-tertiary: hsl(223, 23%, 46%);
$color-black: hsl(223, 30%, 9%);
$color-white: #fff;

// Fonts:
$font-primary: "Outfit", sans-serif;

// Sizes:
$sidebar-width: 96px;
$sidebar-width-mobile: 719px;
$sidebar-space-left: 32px;
