.button {
  display: flex;
  justify-content: center;
  align-items: center;

  &__primary {
    border-radius: 6px;
    width: 100%;
    height: 48px;
    font-size: 15px;
    background-color: $color-primary;
    color: $color-white;

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    &:hover {
      background-color: $color-white;
      color: $color-secondary;

      box-shadow: none !important;
      outline: 0;
      border-color: transparent;
    }
  }
}
