.movie-card {
  position: relative;

  &:hover {
    cursor: pointer;
    .movie-card__overlay-button {
      display: block;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      z-index: 4;
    }
  }

  &.card-large {
    @media #{$break0} {
      height: 140px;
      width: 240px;
    }

    @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
      width: 470px;
      height: 230px;
    }
  }

  &.card-small {
    @media #{$break0} {
      width: 164px;
      height: 110px;
    }

    @media #{$break1} {
      width: 220px;
      height: 140px;
    }

    @media #{$break2}, #{$break3}, #{$break4} {
      width: 280px;
      height: 174px;
    }
  }

  &__content-small {
    line-height: 1.5;
  }

  &__overlay-button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }

  &__play-button {
    @include absCenter;
    width: 117px;
    height: 48px;
    background-color: $color-secondary-opacity-2;
    justify-content: space-evenly;
    border-radius: 28.5px;
  }

  &__bookmark-button {
    position: absolute;
    z-index: 5;
    @media #{$break0} {
      top: 7px;
      right: 5px;
    }
    @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
      top: 16px;
      right: 24px;
    }
  }

  &__bg-layer {
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    bottom: 0;
    z-index: 1;
    @media #{$break0} {
      height: 70px;
    }
    @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
      height: 100px;
    }
  }

  img {
    border-radius: 8px;
    height: 100%;
  }

  &__content {
    &-large {
      position: absolute;
      z-index: 2;
      bottom: 24px;
      left: 24px;
    }

    &-title {
      font-weight: 500;
    }

    &-list {
      display: flex;

      &--item {
        opacity: 0.75;

        display: flex;
        align-items: center;
      }

      @media #{$break0} {
        font-size: 12px;
      }
      @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
        font-size: 15px;
      }

      &--rating-speical {
        @media #{$break0} {
          position: absolute;
          top: 3px;
          left: 158px;
          color: $color-white;

          width: 34px;
          height: 21px;
          background: $color-secondary-opacity-2;
          border-radius: 10.5px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
          opacity: 0.75;
        }
      }
    }
  }
}
