.movie-card-slider {
  overflow: scroll hidden;
  cursor: grab;
  &__container {
    display: flex;
    width: max-content;
    height: max-content;

    & > .movie-card {
      margin-right: 16px;
    }
  }
}
