.login-container {
  @include absCenter;
  @media #{$break0} {
    width: 100%;
    padding: 1rem;
  }
  @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
    width: 400px;
  }
  &__logo {
    margin: 0 auto;
    width: max-content;
    margin-bottom: 80px;
  }

  &__form {
    padding: 32px;
    background-color: $color-secondary;
    border-radius: 20px;

    &-title {
      margin-bottom: 40px;
    }

    &-text {
      text-align: center;
      margin-top: 24px;
    }
  }
}
