@use "../abstracts/variables";

.sidenav {
  background-color: $color-secondary;
  display: flex;

  max-height: 960px;

  @media #{$break1}, #{$break2}, #{$break3}, #{$break4} {
    border-radius: 18px;
    position: sticky;
    top: 32px;
  }

  @media #{$break0} {
    padding: 0 16px;
    align-items: center;
    height: 56px;
  }

  @media #{$break1} {
    padding: 0 24px;
    width: 100%;
    height: 72px;
    align-items: center;
  }

  @media #{$break2}, #{$break3}, #{$break4} {
    width: $sidebar-width;
    overflow-x: hidden;

    flex-direction: column;
    align-items: center;
    padding: 36px 0;
    margin: 32px;
    margin-left: 0;
  }

  &__logo {
    @media #{$break0}, #{$break1} {
      margin-right: auto;
    }
    @media #{$break2}, #{$break3}, #{$break4} {
      margin-bottom: 75px;
    }
  }

  &__items {
    @media #{$break0} {
      a {
        &:not(:first-child) {
          margin-left: 24px;
        }
      }
    }

    @media #{$break1} {
      a {
        &:not(:first-child) {
          margin-left: 32px;
        }
      }
    }

    @media #{$break2}, #{$break3}, #{$break4} {
      display: flex;

      flex-grow: 1;
      flex-direction: column;
      margin-bottom: 100%;

      a {
        &:not(:first-child) {
          margin-top: 40px;
        }
      }
    }
  }

  .active {
    svg {
      fill: $color-white;
    }
  }

  svg {
    @media #{$break2}, #{$break3}, #{$break4} {
      &:hover {
        fill: $color-primary;
      }
    }
  }

  &__avatar {
    @media #{$break0}, #{$break1} {
      margin-left: auto;
    }

    &-img {
      border-radius: 50%;

      width: 40px;
      height: 40px;
    }
  }
}
